@import "tailwindcss";
@import "mapbox-gl/dist/mapbox-gl.css";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  /* For Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #2a2a2a #121212;
  }

  /* For Chrome, Edge, and Safari */
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px !important; /* Strict slim width */
    height: 5px !important; /* Strict slim height for horizontal */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #121212;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #2a2a2a;
    border-radius: 10px;
    border: 1px solid #121212; /* Creates a tiny gap to look even slimmer */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3f3f3f;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
